{% load i18n %}
{% load allauth %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
{% if not SOCIALACCOUNT_ONLY %}
<div class="divider divider-neutral"></div>
<h2 class="my-3 text-sm text-center">{% translate "Or use a third-party" %}</h2>
{% endif %}
<div
    class="w-full bg-gray-600 text-white text-center py-2 px-4 rounded-md shadow hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}
</div>