{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load allauth_ui %}
{% load widget_tweaks %}
{% block content %}
{% trans "Confirm Email Address" as heading %}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-6 text-center">{{ heading }}</h2>
    {% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    {% if can_confirm %}
    <div class="mb-6">
        {% trans "Please confirm that" as confirm_message %}
        {% trans "is an email address for user" as user_message %}
        {% blocktrans with confirmation.email_address.email as email %}
        {{ confirm_message }} <a href="mailto:{{ email }}" class="text-blue-500 hover:underline">{{ email }}</a> is an
        email address for user {{ user_display }}.
        {% endblocktrans %}
    </div>
    {% url 'account_confirm_email' confirmation.key as action_url %}
    <form method="post" action="{{ action_url }}" class="space-y-6">
        {% csrf_token %}
        {{ redirect_field }}
        <div class="flex flex-col">
            <button type="submit"
                class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md shadow hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                {% trans 'Confirm' %}
            </button>
        </div>
    </form>
    {% else %}
    <div class="text-red-500">
        {% trans "Unable to confirm" as unable_message %}
        {% trans "because it is already confirmed by a different account." as confirmed_message %}
        {% blocktrans with email=email %}
        {{ unable_message }} {{ email }} {{ confirmed_message }}
        {% endblocktrans %}
    </div>
    {% endif %}
    {% else %}
    {% url 'account_email' as email_url %}
    <div class="text-red-500">
        {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}"
            class="text-blue-500 hover:underline">issue a new email confirmation request</a>.{% endblocktrans %}
    </div>
    {% endif %}
</div>
{% endblock content %}