{% extends "base.html" %}
{% load i18n %}
{% load allauth_ui %}
{% load widget_tweaks %}
{% block content %}

{% trans "Password Reset" as heading %}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-6 text-center">{{ heading }}</h2>
    {% if user.is_authenticated %}
    <div class="my-3">
        {% include "account/snippets/already_logged_in.html" %}
    </div>
    {% endif %}
    <div class="text-center">
        {% blocktrans %}We have sent you an email. If you have not received it, please check your spam folder.
        Otherwise, contact us if you do not receive it in a few minutes.{% endblocktrans %}
    </div>
</div>
{% endblock content %}