{% extends "updated_base.html" %}
{% load i18n %}
{% load allauth_ui %}
{% load widget_tweaks %}
{% block content %}

{% trans "Change Password" as heading %}
<!-- {% trans "Your password is now changed. Sign In with your new password" as subheading %} -->
{% blocktranslate asvar subheading %}Your password is now changed. Log In with your new password <a
    href="/accounts/login" class="text-blue-500 hover:underline">Here</a>.{% endblocktranslate %}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-4 text-center">{{ heading }}</h2>
    <p class="text-lg text-center text-gray-700">{{ subheading }}</p>
</div>
{% endblock content %}