{% extends "account/password_change.html" %}
{% load i18n %}
{% load allauth_ui %}
{% load widget_tweaks %}
{% block content %}
{% trans "Change Password" as heading %}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-6 text-center">{{ heading }}</h2>
    {% url 'account_change_password' as action_url %}
    <form method="post" action="{{ action_url }}" class="space-y-6">
        {% csrf_token %}
        {{ redirect_field }}
        <div>
            {{ form.old_password|add_class:"w-full rounded-md border border-gray-300 p-2" }}
            {% if form.old_password.errors %}
            <p class="text-red-500 text-xs mt-1">{{ form.old_password.errors }}</p>
            {% endif %}
        </div>
        <div>
            {{ form.new_password1|add_class:"w-full rounded-md border border-gray-300 p-2" }}
            {% if form.new_password1.errors %}
            <p class="text-red-500 text-xs mt-1">{{ form.new_password1.errors }}</p>
            {% endif %}
        </div>
        <div>
            {{ form.new_password2|add_class:"w-full rounded-md border border-gray-300 p-2" }}
            {% if form.new_password2.errors %}
            <p class="text-red-500 text-xs mt-1">{{ form.new_password2.errors }}</p>
            {% endif %}
        </div>
        <div class="flex flex-col">
            <button type="submit"
                class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md shadow hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                {{ heading }}
            </button>
        </div>
    </form>
    {% url "account_reset_password" as reset_password_url %}
    <div class="mt-4 text-center">
        <a href="{{ reset_password_url }}" class="text-blue-500 hover:underline">{% trans "Forgot Password?" %}</a>
    </div>
</div>
{% endblock content %}