{% extends "updated_base.html" %}
{% load i18n %}
{% load allauth_ui %}
{% block content %}
{% trans "Confirm Email Address" as heading %}
{% blocktrans asvar subheading %}We have sent an email to you for verification. Follow the link provided to finalize the
signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us
if you do not receive the verification email within a few minutes.{% endblocktrans %}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-6 text-center">{{ heading }}</h2>
    <p class="py-3 text-center">{{ subheading|safe }}</p>
</div>
{% endblock content %}